//@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(205, 242, 224);
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
::-webkit-scrollbar {
    width: 0;
}

@import 'blocks/header';
@import 'blocks/parallax';
@import 'blocks/second';

@import 'blocks/media';