//@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(205, 242, 224);
}
.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    border: 1px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    &_blue {
        font-family: 'Segoe UI';
        font-weight: 700;
        font-size: 1.2vw;
        line-height: 125%;
        text-align: center;
        color: #2A3950;
        width: 10vw;
        height: 3vw;
        background: #00E0C7;
        box-shadow: 0 0.8vw 1vw rgba(0, 0, 0, 0.3);
    }
}
.title {
    padding-top: 0.5vw;
    margin-bottom: 1.5vw;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 3vw;
    line-height: 112%;
    text-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
}
.subtitle {
    margin: 0 auto;
    margin-bottom: 2.5vw;
    width: 50vw;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1.6vw;
    line-height: 2.4vw;
    text-align: center;
    color: #ccc;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar {
    width: 0;
}

@import 'blocks/header';
@import 'blocks/parallax';
@import 'blocks/second';
@import 'blocks/offer';
@import 'blocks/popular';
@import 'blocks/tour';

@import 'blocks/media';