.popular {
    padding-bottom: 50px;
    background: $purple-bg;
    &__slider {
        position: relative;
        width: 100%;
        overflow: hidden;
        &-prev, &-next {
            position: absolute;
            top: 15.5%;
            display: none;
            justify-content: center;
            align-items: center;
            width: 10%;
            height: 69%;
            background: rgba(0, 0, 0, .7);
            border: 1px solid #000;
            cursor: pointer;
            z-index: 2;
            svg {
                width: 5vw;
                height: 5vw;
            }
            &.active {
                display: flex;
            }
        }
        &-prev {
            left: 0;
            border-top-right-radius: 2vw;
            border-bottom-right-radius: 2vw;
            svg {
                margin-right: 5%;
            }
        }
        &-next {
            right: 0;
            border-top-left-radius: 2vw;
            border-bottom-left-radius: 2vw;
            svg {
                margin-left: 5%;
            }
        }
        &-list {
            padding: 5% 0;
            display: flex;
            justify-content: start;
            padding-left: 30%;
            height: 100%;
            transition: transform 1.2s;
        }
        &-card, .popular__card {
            position: relative;
            margin-right: 20vw;
            padding: 2% 2% 2% 4%;
            display: flex;
            min-width: 40vw;
            width: 40vw;
            height: 100%;
            background-color: #fff;
            box-shadow: 0px 12px 50px rgba(36, 55, 91, 0.15);
            border-radius: 2vw;
            box-shadow: 0vw 0.8vw 1vw rgb(0, 0, 0, .3);
            transition: transform 1.2s;
            &.active {
                transform: scale(1.25);
            }
            &-text, .slider__text {
                width: 67%;
                &-title {
                    display: flex;
                    margin-bottom: 2vw;
                    gap: 1vw;
                    height: 3vw;
                    width: 100%;
                    font-weight: 600;
                    font-size: 1.8vw;
                    line-height: 125%;
                    &-point {
                        height: 100%;
                    }
                    &-place {
                        font-family: 'Segoe UI';
                        color: #222222;
                    }
                }
                &-descr {
                    padding-right: 5.3%;
                    font-family: 'Segoe UI';
                    font-weight: 600;
                    font-size: 1.23vw;
                    line-height: 125%;
                    color: #636668;
                    margin-bottom: 12%;
                }
                &-btn {
                    position: absolute;
                    left: 22%;
                    bottom: 5%;
                    box-shadow: none;
                    width: 10vw;
                    height: 3vw;
                    font-size: 1.2vw;
                }
            }
            &-img {
                width: 33%;
                height: calc(100% - 30px);
                border-radius: 1.5vw;
                object-fit: cover;
            }
        }
    }
}