.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__content {
        margin: 50px auto;
        @include adaptiv-value("margin-top", 82, 50, 0);
        padding: 0 50px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    &__title {
        margin-bottom: 20px;
        width: 100%;
        @include adaptiv-value("font-size", 84, 40, 0);
        color: $dark-green;
        text-shadow: 0 .6vw .2vw rgba(165, 165, 165, 0.2);
    }
    &__subtitle {
        @include adaptiv-value("margin-bottom", 50, 20, 0);
        font-weight: 400;
        @include adaptiv-value("font-size", 24, 12, 0);
        line-height: 125%;
        color: $dark-green;
    }
    &__btn {
        @include adaptiv-value("padding-top", 18, 12, 0);
        @include adaptiv-value("padding-bottom", 18, 12, 0);
        @include adaptiv-value("padding-left", 50, 28, 0);
        @include adaptiv-value("padding-right", 50, 28, 0);
        background: $purple-bg;
        box-shadow: 0 .8vw 1vw rgba(0, 0, 0, 0.3);
        font-family: 'Segoe UI';
        font-weight: 600;
        @include adaptiv-value("font-size", 24, 12, 0);
        line-height: 125%;
        color: #FFF;
    }
    @media (max-width: 767px) {
        &__content {
            padding: 0 10px;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-bottom: 25px;
        }
    }
}
.promo_bg {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}