.offer {
    position: relative;
    margin-top: 100vh;
    padding-bottom: 100px;
    background: $purple-bg;
    &__bg {
        display: block;
        margin: 0 auto;
        width: 90%;
        object-fit: contain;
    }
    &__subtitle {
        margin-bottom: 75px;
    }
    &__point {
        position: absolute;
        z-index: 1;
        &1 {
            bottom: 25.5%;
            left: 27.5%;
        }
        &2 {
            top: 24.5%;
            left: 50%;
        }
        &3 {
            bottom: 19.5%;
            right: 9.5%;
        }
        &-body {
            z-index: 1;
        }
        &-circle {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-53%, -50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #00E0C7;
            z-index: -1;
        }
    }
    &__card {
        position: absolute;
        padding: 15px;
        width: 250px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
        &1 {
            transform: rotate(-15deg);
            top: 25.5%;
            left: 10%;
        }
        &2 {
            bottom: 24.5%;
            left: 50%;
            transform: translateX(-50%);
        }
        &3 {
            transform: rotate(15deg);
            top: 25.5%;
            right: 10%;
        }
        &-img {
            width: 220px;
            height: 130px;
            border-radius: 14px;
            object-fit: cover;
            border: 1px solid #FFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            margin-bottom: 2px;
        }
        &-title {
            font-family: 'Segoe UI';
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            color: #2A3950;
            margin-bottom: 2px;
        }
        &-subtitle {
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 125%;
            color: #006270;
            margin-bottom: 5px;
        }
        &-btns {
            display: flex;
            justify-content: space-between;
        }
        &-promocode, &-more {
            width: 80px;
            height: 25px;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        }
        &-promocode {
            font-family: 'Segoe UI';
            font-weight: 400;
            line-height: 125%;
            text-align: center;
            color: #006270;
            border: 1px solid #006270;
            background: 0;
        }
    }
}