@import "fonts";
@import 'variables';
@import 'mixins';
@import 'animations';

* {margin: 0; padding: 0; border: 0}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}
:focus, :active {outline: none}
a:focus, a:active {outline: none}
nav, header, footer, aside {display: block}
html, body {height: 100%; width: 100%; font-size: 100%; font-size: 14px; line-height: 1; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%}
input, button, textarea {font-family: inherit}
input::-ms-clear{display: none}
button {cursor: pointer}
button::-moz-focus-inner {padding: 0; border: 0}
a, a:visited{text-decoration: none}
a:hover {text-decoration: none}
ul {li{list-style: none}} 
img {vertical-align: top}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400}

$maxWidth: 1300;  //? значення ширини .container

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: $purple-bg;
    font-family: 'SegoeUI';
    font-weight: 400;
}
.container {
    margin: 0 auto;
    max-width: $maxWidth + px;
    padding: 0 20px;
    @media (max-width: 500px) {
        padding: 0 10px;
    }
}
.btn {
    border: 1px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    &_blue {
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: #2A3950;
        width: 120px;
        height: 40px;
        background: #00E0C7;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    }
}
.title {
    padding: 5px 10px 0 10px;
    margin-bottom: 15px;
    font-family: 'DM Serif Display';
    font-size: 40px;
    line-height: 112%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
}
.subtitle {
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 25px;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ccc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar {
    width: 0;
}

@import 'modules/parallax';
@import 'modules/header';
@import 'modules/promo';
@import 'modules/explore';
@import 'modules/second';
@import 'modules/offer';
@import 'modules/popular';
@import 'modules/tour';
@import 'modules/join';
@import 'modules/footer';