//! Загальні налаштування сайту

//? Шрифт за замовчуванням =======================================================================================================================
$fontFamily: "SegoeUI"; // назва
$fontWeight: 600; // жирність
$fontSize: 20px; // розмір
$fontColor: #000; // колір

//? Розміри сайту ================================================================================================================================
$minWidth: 320px; // мінімальний
$maxWidth: 1920; // максимальний

//? Розмір контейнера ============================================================================================================================
$maxWidthContainer: 1300; // макетна ширина контейнера (px)
$containerPadding: 20; // внутрішні горизонтальні відступи контейнера (px)
$maxContainerWidth: $containerPadding + $maxWidthContainer + $containerPadding; // браузерна ширина контейнера

//? Брейк-поінти =================================================================================================================================
$pc: $maxContainerWidth + px; // ПК, ноутбуки, деякі планшети в горизонтальному положенні
$tablet: 991.98px; // планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // великі телефони
$mobileSmall: 479.98px; // малі телефони

//? Базові стилі =================================================================================================================================
@import "fonts";
@import 'variables';
@import '_mixins';
@import '_animations';
@import '_null';

//? Імпорт модулів ===============================================================================================================================
@import 'modules/parallax';
@import 'modules/header';
@import 'modules/promo';
@import 'modules/explore';
@import 'modules/second';
@import 'modules/offer';
@import 'modules/popular';
@import 'modules/tour';
@import 'modules/join';
@import 'modules/footer';